// Refs: https://mierak.github.io/rmpc/next/configuration/

#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    // MPD 🤝 rmpc
    // NOTE: Check your mpd.conf. Ensure the corresponding item's data matches.
    address: "127.0.0.1:6600",     // see `bind_to_address` (Network)
    // address: "/tmp/mpd_socket", // see `bind_to_address` (Socket)
    password: None,                // see `password`

    // Paths
    cache_dir: None,                  // WARNING: Currently used only to store files downloaded from YouTube.
    lyrics_dir: Some("~/User/Music"), // WARNING: hardcode

    // Theme
    theme: Some("default"), // -> themes/xxx.ron

    // Performance
    max_fps: 60,
    status_update_interval_ms: 1000,

    // Triggers
    on_song_change: ["~/.config/rmpc/bin/notify",
                     "~/.config/rmpc/bin/playcount"], // when the song changes
    select_current_song_on_change: false,
    keep_state_on_song_change: true,

    // TODO: Themes must be designed for different sizes.
    // See https://mierak.github.io/rmpc/next/guides/on_resize/
    //
    // on_resize: ["~/.config/rmpc/bin/onresize"], // auto change theme for different size.

    // Misc
    volume_step: 5,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: false, // I perfer to use my keyboard.
    enable_config_hot_reload: true, // default enabled

    // ------------------------------------------------------------------------------------

    keybinds: (
        global: {
            // Show Infos
            "~":       ShowHelp,
            "I":       ShowCurrentSongInfo,
            "O":       ShowOutputs,
            "P":       ShowDecoders,

            // Base
            ":":       CommandMode,
            "s":       Stop,
            "q":       Quit,
            ",":       VolumeDown,    // 󰝞
            ".":       VolumeUp,      // 󰝝
            "p":       TogglePause,   //  / 
            "f":       SeekForward,   // 
            "b":       SeekBack,      // 
            ">":       NextTrack,     // next song
            "<":       PreviousTrack, // previous song

            // Switch Tabs
            "1":       SwitchToTab("Main"),
            "2":       SwitchToTab("Queue"),
            "3":       SwitchToTab("Lyrics"),
            // "4":       SwitchToTab("Visualizer"),
            "4":       SwitchToTab("Directories"),
            "5":       SwitchToTab("Playlists"),
            "6":       SwitchToTab("Search"),
            // "3":       SwitchToTab("Artists"),
            // "4":       SwitchToTab("Album Artists"),
            // "5":       SwitchToTab("Albums"),
            "<Tab>":   NextTab,
            "<S-Tab>": PreviousTab,

            // Playback state
            // NOTE: These options can be combined to produce different effects.
            // See
            // - https://github.com/mierak/rmpc/discussions/571
            // - https://github.com/MusicPlayerDaemon/MPD/issues/539
            "z":       ToggleRepeat,  // 
            "x":       ToggleRandom,  // 
            "c":       ToggleConsume, // Remove played tracks
            "v":       ToggleSingle,  // Stop after playing all tracks
        },
        navigation: {
            // Navigation
            "<Up>":      Up,
            "<Down>":    Down,
            "<Left>":    Left,
            "<Right>":   Right,
            //// Vim style ////
            "k":         Up,
            "j":         Down,
            "h":         Left,
            "l":         Right,
            "<C-k>":     PaneUp,
            "<C-j>":     PaneDown,
            "<C-h>":     PaneLeft,
            "<C-l>":     PaneRight,
            "g":         Top,
            "G":         Bottom,
            "<C-u>":     UpHalf,
            "<C-d>":     DownHalf,
            "K":         MoveUp,   // move up a song in queue
            "J":         MoveDown, // move down a song in queue

            // Common
            "/":         EnterSearch,
            "<Space>":   Select, // mark a `M`

            // Playlist
            "a":         Add,    // add a song to the queue from a playlist
            "A":         AddAll, // add all songs to the queue from a playlist
            "D":         Delete, // delete a playlist
            "r":         Rename, // rename a playlist

            // Popup menu
            "<C-c>":     Close,
            "<Esc>":     Close,
            "<CR>":      Confirm,
            "N":         PreviousResult,
            "n":         NextResult,
            "<C-Space>": InvertSelection,
            "i":         FocusInput,
        },
        queue: {
            "<CR>":    Play,     // play the selected track
            "i":       ShowInfo, // show the selected track's info
            "C":       JumpToCurrent, // jump to the currently playing track
            "<C-s>":   Save, // save current queue as new playlist
            "d":       Delete,    // delete a song in the queue
            "D":       DeleteAll, // delete all songs in the queue
            "a":       AddToPlaylist, // add a song in the queue to a playlist
        },
    ),

    // https://mierak.github.io/rmpc/next/configuration/tabs/
    // ----------------------------------------------------------------------
    //        | Queue | Directories | Playlists | Visualizer | Search |
    // -----------------------------------------------------------------------
    tabs: [
       // (
       //     name: "Queue",
       //     pane: Split(
       //         direction: Horizontal,
       //         borders: "ALL",
       //         panes: [
       //             (size: "35%", pane: Split(
       //                 direction: Vertical,
       //                 borders: "RIGHT",
       //                 panes: [
       //                     (size: "80%", pane: Pane(AlbumArt), borders: "BOTTOM"),
       //                     (size: "20%", pane: Pane(Cava)),
       //                 ]
       //             )),
       //             (size: "65%", pane: Split(
       //                 direction: Vertical,
       //                 panes: [
       //                     (size: "40%", pane: Pane(Queue), borders: "BOTTOM"),
       //                     (size: "60%", pane: Pane(Lyrics)),
       //                 ],
       //             )),
       //         ],
       //     ),
       // ),
        (
            name: "Main",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (size: "40%", pane: Pane(Queue), borders: "RIGHT"),
                    (size: "60%", pane: Pane(Lyrics)),
                    // (size: "60%", pane: Split(
                    //    direction: Vertical,
                    //    panes: [
                    //        (size: "80%", pane: Pane(Lyrics)),
                    //        (size: "20%", pane: Pane(Cava)),
                    //    ]
                    // )),
                ],
            ),
        ),
        (
            name: "Queue",
            pane: Pane(Queue),
        ),
        (
            name: "Lyrics",
            pane: Pane(Lyrics),
        ),
        // (
        //     name: "Visualizer",
        //     pane: Pane(Cava),
        // ),
        (
            name: "Directories",
            pane: Pane(Directories),
        ),
        // (
        //    name: "Artists",
        //    pane: Pane(Artists),
        // ),
        // (
        //    name: "Album Artists",
        //    pane: Pane(AlbumArtists),
        // ),
        // (
        //    name: "Albums",
        //    pane: Pane(Albums),
        // ),
        (
            name: "Playlists",
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            pane: Pane(Search),
        ),
    ],

    // -> Pane(Search)
    // see `browser_song_format` in themes/default.ron
    search: (
        case_sensitive: false,  // a/A
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),

    // -> Pane(Artists)
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
    ),

    // -> Pane(AlbumArt)
    // https://mierak.github.io/rmpc/next/configuration/album-art/#configuration
    album_art: (
        // NOTE: You maybe need to install `kitty` or `ueberzugpp`  which supports display images
        // in your terminal.
        method: Auto, // kitty -> Ueberzug -> Block
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),

    // -> Pane(Cava)
    // https://mierak.github.io/rmpc/next/configuration/cava/
    // Theme part: see `cava` in themes/default.ron
    cava: (
        framerate: 60,              // FPS
        autosens: true,             // default true
        sensitivity: 100,           // default 100
        lower_cutoff_freq: 50,      // not passed to cava if not provided
        higher_cutoff_freq: 10000,  // not passed to cava if not provided
        input: (
            // NOTE: see audio_output in `mpd.conf`
            // Ensure the corresponding item's data matches.
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            sample_bits: 16,
        ),
        smoothing: (
            noise_reduction: 77, // default 77
            monstercat: false,   // default false
            waves: false,        // default false
        ),
        // this is a list of floating point numbers thats directly passed to cava
        // they are passed in order that they are defined
        eq: []
    ),
)

